footer {
  background-color: #161616;

  p{
    color: #FFF;
    padding-bottom: 14px;
    margin-bottom: 0px;
    a{
      text-decoration: none;
      color: #FFF;
    }
    a:hover{
      color: $aqua;
    }
  }
  img {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  hr {
    background-color: #fff;
    max-width: 1000px;
    margin-left: 180px;
    margin-right: 180px;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 540px;
    margin-right: 500px;
    justify-content: center;
    .icon {
      border: 1.5px solid #ffffff;
      border-radius: 20px;
      width: 35px;
      height: 35px;
      margin-top: 70px;
      margin-bottom: 70px;
      img {
        margin-top: 10px;

      }
      .wsp {
        margin-top: 7px;
      }
    }
  }
}
