@media (min-width: 375px) and (max-width: 768px) {
  .desktop {
    display: none;
  }
  header {
    .col-lg-6 {
      small {
        font-size: 16px;
        font-weight: 500;
        margin-left: 20px;
      }
      h1 {
        font-size: 35px;
        font-weight: 800;
        margin-left: 20px;
        margin-top: 25px;
      }
      h2 {
        font-size: 35px;
        font-weight: 800;
        margin-left: 20px;
      }
      p {
        font-size: 18px;
        font-weight: 500;
        margin-left: 20px;
        margin-top: 25px;
      }
      button {
        margin-left: 20px;
      }
    }
  }
  //   NAV
  nav {
    .logo {
      margin-left: 20px;
    }
    .collapse{
      margin-left: auto;
      text-align: end;
    }
    a{
      display: flex;
      justify-items: end;
      font-size: 18px;
      font-weight: 500; 
    }
    .navbar-toggler{
      border-color: $aqua;
      border: 10px;
      img{
        margin-left: -6px;
      }
    }
  }
  //   MAIN
  main {
    section.about-us {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 150px;
      display: grid;
      justify-items: center;
      .desktop {
        display: none;
      }
      .text-center {
        h3 {
          font-size: 35px;
          font-weight: 700;
        }
      }
      .texto {
        margin-top: 50px;
        p {
          font-size: 18px;
          font-weight: 400;
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .carousel {
        margin-top: 50px;
        width: 300px;
        height: 364px;
        border-radius: 20px;
        img.photo {
          width: 300px;
          height: 364px;
          border-radius: 20px;
        }
        margin-bottom: 100px;
      }
    }
    section.service {
      margin-top: 250px;
      display: grid;
      justify-content: center;

      .text-center {
        margin-left: auto;
        margin-right: auto;
        max-width: 400px;
        h3 {
          font-size: 35px;
          font-weight: 700;

        }
      }

      .desktop {
        display: none;
      }
    }
    section.contacto {
      display: grid;
      justify-items: center;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: auto;
      .text-center {
        h3 {
          font-size: 35px;
          font-weight: 700;
          margin-bottom: -100px;
        }
      }
      .row {
        margin-top: 60px;
        width: 350px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }

      .form {
        border-radius: 26px;
        max-width: 350px;
        max-height: 800px;
        text-align: center;

        p {
          margin-left: auto;
          margin-right: auto;
        }

        input {
          max-width: 270px;
          max-height: 30px;
          margin-left: auto;
          margin-right: auto;
        }
        textarea {
          max-width: 270px;
          max-height: 155.26px;
          margin-left: auto;
          margin-right: auto;
        }
        button {
          width: 270px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  footer {
    .footer {
      margin-left: 54px;
      margin-right: 50px;
    }
  }
}
// desktop
@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}
